docs/_build
.vscode
.idea
venv/
/electronics/doc/doc.aux
/electronics/doc/doc.fdb_latexmk
/electronics/doc/doc.fls
/electronics/doc/doc.log
/electronics/doc/doc.synctex.gz
*.pyc
/software/digital_twin/data_access/influxdbserver/influxdb
*.log
/software/startup.conf
*.drawio.dtmp
